apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.name }}
  annotations:
    # This is what the code above uses to know where to redirect
    backstage.io/view-url: ${{ values.confluenceUrl | dump }}
    github.com/project-slug: nishank841/${{ values.name }}
  links:
    - url: ${{ values.confluenceUrl | dump }}
      title: Confluence Docs
      icon: docs # This adds a nice document icon next to the link

    - url: https://us5.datadoghq.com/dashboard/lists?p=1
      title: Datadog Dashboard
      icon: dashboard

    - url: https://localhost:8080/applications/argocd/${{ values.name }}?view=tree&resource=
      title: ArgoCD Dashboard
      icon: dashboard

    - url: https://github.com/nishank841/Helm-charts/blob/main/apps/${{ values.name }}/values.yaml
      title: Helm Values
      icon: code

    - url: https://github.com/nishank841/terraform/blob/main/apps/${{ values.name }}.tfvars
      title: Terraform Values
      icon: code

spec:
  type: service
  lifecycle: experimental
  owner: group:default/nishankadonikeni

